<!-- templates/index.html -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  <link rel="stylesheet" href={{ stylesheet_with_none_cursor }}>
  <title>Flask snippets</title>
  <script>
    {{ svg| safe }}
    {{ js | safe }}
  </script>
  <div>
    {{ status_table }}
  </div>
  <div id="arrow"></div>
  <!-- <div>
    <div class="Row">
      <div class="Column" id="batterySrc"></div>
      <div class="Column" id="arrow"></div>
      <div class="Column" id="batterySink"></div>
  </div> -->
  </div>
</head>
</body>

</html>